# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [0]:
# 1.1 Type your answer here.
a,b = 10,2
print("Addition : {}\nSubtration : {}\nMultiplication :{}\nDivision : {}\nModulo : {}".format(a+b,a-b,a*b,a/b,a%b))

Addition : 12
Subtration : 8
Multiplication :20
Division : 5.0
Modulo : 0

2. Write different rules for naming a variable/identifier.

In [0]:
# 2 Type your answer here
num = 1
string = "Hello"

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [0]:
# 3.1 Type your answer here
first, last = "Sachin ", "Dev"
first+last

'Sachin Dev'

In [0]:
# 3.2 Type your answer here
full = first+last
full[::-1],"".join(reversed(full))

('veD nihcaS', 'veD nihcaS')

In [0]:
# 3.3 Type your answer here
variable = "lower"
variable.upper()

'LOWER'

In [0]:
# 3.4 Type your answer here
variable = 'school of ai'
variable.split()

['school', 'of', 'ai']

In [0]:
# 3.5 Type your answer here
variable = 'school of ai'
variable.find('ai')

10

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [0]:
# 4.1 Type your answer here
lst = [10,20,30,40]
len(lst),sum(lst)

(4, 100)

In [0]:
# 4.2 Type your answer here
lst =[11,22,55]
x = lst.pop()
lst,x

([11, 22], 55)

In [0]:
# 4.3 Type your answer here
lst = [10,20,40]
lst = lst[:2]+[30]+lst[2:]
lst

[10, 20, 30, 40]

In [0]:
# 4.4 Type your answer here
lst = ['a','b','c']
lst.remove('b')
lst

['a', 'c']

In [0]:
# 4.5 Type your answer here
lst = [5,'a','b','c',1,5]
alpha_list = lst[1:4]
lst,alpha_list

([5, 'a', 'b', 'c', 1, 5], ['a', 'b', 'c'])

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [0]:
# 5.1 Type your answer here
dictionary = {1:'odd',2:'even'}
dictionary

{1: 'odd', 2: 'even'}

In [0]:
# 5.2 Type your answer here
dictionary = {1:'odd',2:'even'}
dictionary[2]='EVEN'
dictionary

{1: 'odd', 2: 'EVEN'}